<a href="https://colab.research.google.com/github/Bindadarsh7/Filtering_Top_Interns/blob/main/Selecting_Top_Interns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [11]:
# Read the dataset
data = pd.read_csv('Applications_for_Machine_Learning_internship_edited.csv')

In [17]:
# Filter the candidates
filtered_data = data[
    (data['Python (out of 3)'] >= 2) &
    (data['Machine Learning (out of 3)'] >= 2) &
    (data['Natural Language Processing (NLP) (out of 3)'] >= 2) &
    (data['Deep Learning (out of 3)'] >= 2) &
    (data['Other skills'].str.contains('machine learning', case=False)) &
    (data['Are you available for 3 months, starting immediately, for a full-time work from home internship? '] == 'Yes, I am available for 3 months starting immediately for a full-time internship.')
]

In [29]:
# Sort the filtered candidates based on performance
sorted_data = filtered_data.sort_values(
    by=['Performance_PG', 'Performance_UG'],
    ascending=[False, False]
)

In [31]:
# Select the top 50 interns
top_interns = sorted_data.head(50)

In [32]:
top_interns

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
1101,NaN,3,3,2,3,"Deep Learning, English Proficiency (Spoken), E...","Yes, I am available for 3 months starting imme...",Bachelor of Science (B.Sc),computer science,2025,9.38/10,NaN,9.60/9.60,NaN
733,NaN,2,2,2,2,"Neural Networks, Android, C++ Programming, Dat...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,9.24/10,NaN,93.50/93.50,10.00/10.00
1120,NaN,3,3,2,3,"Data Analytics, Data Science, Data Structures,...","Yes, I am available for 3 months starting imme...",B.Tech,computer science,2022,81.20/100,NaN,NaN,NaN
674,NaN,3,3,2,3,"Data Analytics, Data Science, Deep Learning, J...","Yes, I am available for 3 months starting imme...",B.Tech,Data Science,2024,8.93/10,NaN,8.70/8.70,NaN
34,NaN,3,2,2,2,"Data Science, Database Management System (DBMS...","Yes, I am available for 3 months starting imme...",Integrated M.Sc.,Data Science,2024,8.81/10,NaN,NaN,NaN
422,NaN,3,3,3,3,"Deep Learning, Machine Learning, Natural Langu...","Yes, I am available for 3 months starting imme...",Master of Technology (M.Tech),Artificial Intelligence,2023,8.70/10,7.14/10,NaN,NaN
1002,NaN,3,2,2,2,"Data Structures, Python, CSS, Deep Learning, D...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),Information Technology,2023,8.55/10,NaN,76.46/76.46,88.00/88.00
766,NaN,2,2,2,2,"C Programming, CSS, English Proficiency (Spoke...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),Computer Science & Engineering,2025,8.30/10,NaN,91.00/91.00,NaN
295,NaN,2,2,2,2,"C Programming, CSS, Data Analytics, Data Scien...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Data Science,2024,8.28/10,NaN,69.85/69.85,67.40/67.40
848,NaN,2,3,3,3,"Algorithms, Data Analytics, Data Science, Data...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,8.25/10,NaN,NaN,NaN
246,NaN,3,3,3,3,"Deep Learning, Flask, Hadoop, JavaScript, Mach...","Yes, I am available for 3 months starting imme...",Master of Science (M.Sc),Economics,2023,8.16/10,8.10/10,82.20/82.20,84.40/84.40
233,NaN,2,2,2,2,"Data Science, Deep Learning, Machine Learning,...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),Computer Science & Engineering,2020,8.07/10,NaN,91.83/91.83,85.60/85.60
92,NaN,3,2,2,2,"Computer Vision, Python, Algorithms, Amazon We...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2024,8.00/10,NaN,NaN,NaN
985,NaN,3,2,2,2,"Computer Vision, Data Analytics, English Profi...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),Mechanical Engineering,2022,75.00/100,NaN,85.00/85.00,100.00/100.00
1073,NaN,3,3,3,3,"Data Analytics, Data Science, Deep Learning, M...","Yes, I am available for 3 months starting imme...",B.Tech,Mechanical,2022,72.86/100,8.13/10,82.20/82.20,88.33/88.33
550,NaN,2,2,2,2,"Deep Learning, Machine Learning, Natural Langu...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),Electrical Engineering,2017,7.60/10,73.60/100,NaN,73.12/73.12
405,NaN,3,2,2,2,"ArcGIS, MS-Excel, Map Study, Power BI, Python,...","Yes, I am available for 3 months starting imme...",B.Tech,Civil Engineering,2020,7.60/10,7.70/10,NaN,NaN
586,NaN,2,3,2,2,"Machine Learning, SQL, Statistics, Computer Vi...","Yes, I am available for 3 months starting imme...",Master of Technology (M.Tech),Data Science,2023,7.54/10,6.30/10,62.00/62.00,87.00/87.00
225,NaN,3,3,2,2,"Machine Learning, Python, Artificial Intellige...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Artificial Intelligence And Machine Learning,2024,7.40/10,NaN,NaN,NaN
589,NaN,2,2,2,2,"Algorithms, Artificial Intelligence, Computer ...","Yes, I am available for 3 months starting imme...",Bachelor of Commerce (B.Com),Commerce,2019,68.00/100,NaN,NaN,NaN
1031,NaN,2,2,2,2,"Statistical Modeling, Algorithms, Data Analyti...","Yes, I am available for 3 months starting imme...",Master of Science (M.Sc),Statistics,2023,6.73/10,8.91/10,64.00/64.00,75.60/75.60
849,NaN,3,2,2,2,"Python, Artificial Intelligence, Data Analytic...","Yes, I am available for 3 months starting imme...",Master Of Science,Organic Chemistry,2023,6.50/10,NaN,NaN,NaN
541,NaN,2,2,2,2,"Data Analytics, Data Science, Deep Learning, M...","Yes, I am available for 3 months starting imme...",Bachelor Of Engineering,Information Science,2013,3.00/5,NaN,NaN,NaN
106,NaN,3,3,2,2,"CSS, Express.js, HTML, JavaScript, MEAN/MERN S...","Yes, I am available for 3 months starting imme...",Master of Science (M.Sc),Computer Science,2023,NaN,9.75/10,75.23/75.23,87.40/87.40
182,NaN,3,3,3,2,"Machine Learning, MongoDB, Natural Language Pr...","Yes, I am available for 3 months starting imme...",B.Tech (Hons.),computer science,2024,NaN,9.68/10,96.20/96.20,NaN
89,NaN,2,2,2,2,"Android, Computer Vision, Data Science, Deep L...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),Information Technology,2025,NaN,9.65/10,92.00/92.00,92.00/92.00
720,NaN,3,2,2,2,"Data Structures, Database Management System (D...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,9.44/10,89.80/89.80,NaN
445,NaN,3,3,2,2,".NET, Adobe XD, Amazon Web Server (AWS), Artif...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,9.40/10,91.80/91.80,10.00/10.00
1009,NaN,3,3,3,3,"C++ Programming, CSS, Data Science, Deep Learn...","Yes, I am available for 3 months starting imme...",B.Tech,Electronics and Communication,2024,NaN,9.40/10,NaN,NaN
501,NaN,3,2,2,2,"C++ Programming, Computer Vision, Image Proces...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,9.33/100,79.00/79.00,NaN
552,NaN,2,2,2,2,"MS-Excel, Data Analytics, Data Science, Data S...","Yes, I am available for 3 months starting imme...",Advanced Certification In Data Science,Data Science,2023,NaN,9.33/100,84.00/84.00,NaN
1067,NaN,3,3,2,3,"Deep Learning, Machine Learning, Python, Compu...","Yes, I am available for 3 months starting imme...",Bachelor of Science (B.Sc),Statistics,2022,NaN,9.30/10,NaN,10.00/10.00
1039,NaN,3,3,2,3,"Data Analytics, Deep Learning, Image Processin...","Yes, I am available for 3 months starting imme...",B.Tech,Electrical Engineering,2024,NaN,9.12/10,90.40/90.40,10.00/10.00
404,NaN,3,3,2,2,"Data Analytics, English Proficiency (Spoken), ...","Yes, I am available for 3 months starting imme...",B.Tech,Artificial Intelligence And Data Science,2024,NaN,9.11/10,92.20/92.20,96.00/96.00
784,NaN,3,2,2,2,"Data Structures, Java, Python, C Programming, ...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2025,NaN,9.10/10,91.00/91.00,NaN
1084,NaN,2,3,2,2,"Cloud Computing, Data Science, Data Structures...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,9.07/10,97.30/97.30,9.80/9.80
734,NaN,3,3,3,2,"C Programming, Data Analytics, Data Science, M...","Yes, I am available for 3 months starting imme...",Integrated M.Sc.,Mathematics and Computing,2023,NaN,9.05/10,NaN,NaN
576,NaN,3,3,2,2,"Data Analytics, Data Science, MS-Excel, MS-Off...","Yes, I am available for 3 months starting imme...",Bachelor of Computer Applications (BCA),Data Science,2023,NaN,9.02/10,94.00/94.00,NaN
116,NaN,3,3,3,2,"Data Analytics, Data Science, English Proficie...","Yes, I am available for 3 months starting imme...",Advanced Certification In Data Science,Data Analytics,2023,NaN,9.00/9,60.00/60.00,70.00/70.00
166,NaN,2,2,2,2,"Deep Learning, Machine Learning, MySQL, Natura...","Yes, I am available for 3 months starting imme...",Integrated MCA,Information Technology,2023,NaN,9.00/10,56.31/56.31,86.80/86.80
1023,NaN,3,3,2,2,"Data Analytics, Data Science, GitHub, MS-Excel...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2023,NaN,86.60/100,NaN,NaN
299,NaN,3,3,2,3,"Deep Learning, English Proficiency (Spoken), E...","Yes, I am available for 3 months starting imme...",NaN,Information Technology,2022,NaN,85.50/100,NaN,NaN
787,NaN,3,3,2,2,"Accounting, Client Relationship, Computer Visi...","Yes, I am available for 3 months starting imme...",Bachelor of Business Administration (B.B.A.),Data Analytics,2023,NaN,85.20/100,NaN,NaN
631,NaN,2,2,2,2,"Data Science, Database Management System (DBMS...","Yes, I am available for 3 months starting imme...",Bachelor of Science (B.Sc) (Hons.),Science,2022,NaN,85.00/100,8.10/8.10,NaN
767,NaN,3,3,3,3,"Computer Vision, Data Analytics, Data Science,...","Yes, I am available for 3 months starting imme...",Integrated B.Tech & M.Tech,Engineering Physics,2025,NaN,8.92/10,72.77/72.77,91.00/91.00
461,NaN,2,2,2,3,"Deep Learning, Data Analytics, Data Science, M...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),NaN,2022,NaN,8.90/10,71.69/71.69,89.20/89.20
694,NaN,2,2,2,2,"Computer Vision, Data Analytics, Data Science,...","Yes, I am available for 3 months starting imme...",B.Tech,Artificial Intelligence And Data Science,2024,NaN,8.89/10,NaN,NaN
205,NaN,2,3,2,2,"Algorithms, Amazon Web Services (AWS), C++ Pro...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science With Specialization In Data S...,2024,NaN,8.80/10,91.50/91.50,9.40/9.40
854,NaN,2,2,2,2,"Computer Vision, English Proficiency (Spoken),...","Yes, I am available for 3 months starting imme...",B.Tech,Electronics and Communication,2024,NaN,8.80/10,93.60/93.60,NaN
242,NaN,2,2,2,2,"MS-Excel, MS-Office, Arduino, C Programming, C...","Yes, I am available for 3 months starting imme...",B.Tech,Electronics and Communication,2023,NaN,8.76/10,95.00/95.00,9.70/9.70